body{
    margin: 0; 
}

.header{
    background-color: grey;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link{
    background: none;
    border: none;
    text-decoration: none;
    color: azure;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    
    }

.link:hover{
    color: black;
}

.dropdown + .link:focus,
.link:hover{
    color: black;
}

.dropdown{
    position: relative;

}
.dropdown-menu:hover{
    position:absolute;
    left: 0;
    top: calc(100% + .80rem);
    background-color: white;
    padding: 75.rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0.0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}
.dropdown-menu{
    position:absolute;
    left: 0;
    top: calc(100% + .80rem);
    background-color: white;
    padding: 75.rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0.0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}